<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/images/NotepadCover.png">
    </head>
    <body>
        <form action = "/create" method="post"> 
            <input style="width: 800px;"  type="text" name="oldName" placeholder="name of project to edit (ONLY enter if you are editing an existing project)">

            <input style="width: 800px;"  type="text" name="description" placeholder="Description of Project">
            <input style="width: 800px;"  type="text" name="link" placeholder="Link to Project (with https://www.___)">
            <input style="width: 800px;"  type="text" name="type" placeholder="Type of Project (EP, Song, etc)">
            <input style="width: 800px;"  type="text" name="date" placeholder="Date of Project (Month, Day, Year)">
            <input style="width: 800px;"  type="text" name="image" placeholder="Link to image for project">
            <input style="width: 800px;" type="text" name="name" placeholder="Name of Project">
            <input type="submit"> 
        </form>

        <a href="/portfolio">Portfolio</a>
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
    </body>
</html>