<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DEAN LAURO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Learn about Dean Lauro and his projects and new releases with his portfolio website. Contact Dean Lauro and learn more about the artist!">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/NotepadCover.png">
    </head>
    <body class="homebody">
        <div class="outer-homepage">
            <div class="navbar">
                <a class="nav-item nav-logo">DEAN LAURO</a>
                <div class="nav-end">
                    <a href="/portfolio" class="nav-item nav-button">PORTFOLIO</a>
                    <a href="/contact" class="nav-item nav-button">CONTACT</a>
                </div>
            </div>
            <div class="notification-bar">
                <a href="https://distrokid.com/hyperfollow/deanlauro/notepad" target=”_blank”>NEW SINGLE - NOTEPAD OUT NOW</a>
            </div>
            <div class="background">
                <p class="background-text-main">DEAN LAURO</p>
                <div class="filler"></div>
            </div>
            <div class="new-releases">

            </div>
            <div class="footer">
                <p class="footer-text">© 2024 - Chrysler Records</p>
                <p class="footer-text">Last Updated July 2024</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/scripts/index.js"></script>
    </body>
</html>