<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/portfolio.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    </head>
    <body class="homebody">
        <div class="outer-homepage">
            <div class="navbar">
                <a href="/" class="nav-item nav-logo">DEAN LAURO</a>
                <div class="nav-end">
                    <a href="/portfolio" class="nav-item nav-button">PORTFOLIO</a>
                    <a href="/contact" class="nav-item nav-button">CONTACT</a>
                </div>
            </div>
            <div class="background">
                <div class="background-text">
                    <p class="background-text-main">PORTFOLIO</p>
                    <p class="background-text-sub">Full selection of my completed works</p>
                </div>
                <div class="projects">

                    <% for (project of projects) {%>
                    <a href="/project?name=<%= project.name %>">
                        <div style="background-image: url(<%= project.image %>);" class="project">
                            <p class="project-text"><%= project.name %></p>
                        </div>
                    </a>
                    <% } %>
                </div>
            </div>
            <div class="footer">
                <p class="footer-text">© 2024 - Chrysler Records</p>
                <p class="footer-text">Last Updated July 2024</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/scripts/portfolio.js"></script>
    </body>
</html>