.contact-form {

    height: 20vw;
    width: 50vw;

    display: flex;

    border:2px solid white;
    padding: 1vw;
}

.grid-forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 67%;
    flex-shrink: 0;
    height: 100%;
}

.grid-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-basis: 33%;
    flex-shrink: 0;
}

.name-email {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

img {
    height: 2vw;
}

.name-email input
{
    width: 49%;
    margin: 0;
    padding: 0;
    height: 80%
}
.contact-form input {
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1vw;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 1vw;
}

.contact-form input::placeholder {
    color: white;
}

.contact-form p {
    font-size: 1vw;
}

.contact-form button {
    margin: 0.5vw;
    width: 40%;
    height: 3vw;
    border-radius: 10px;
    font-size: 1.5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}

.message-input {
    flex-basis: 100%;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1vw;
    border: 0;
    border-bottom: 2px solid white;
    color:white;
}

.message-input::placeholder {
    color:white;
}

.text-holder {
    display: flex;
    align-items: center;
    gap: 5px;
    color:white;
    margin:0;
}

.homebody {
    height:100vh;
    margin: 0;
    background-color: black;
}

.outer-homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: black;
    flex-basis: 100px;
    width: 100%;;
    justify-content: space-between;

    display: flex;
    align-items: center;
    color: white;
}

.nav-end {
    padding-right: 20px;
}

.nav-logo {
    padding-left: 20px;
    font-size: 30px;
    font-family: nimbus-sans-tw01con, nimbus-sans-tw05con, serif;
    font-weight: lighter;
}

.nav-item {
    margin: 10px;
}

.nav-button {
    font-family: nimbus-sans-tw01con, nimbus-sans-tw05con, sans-serif;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../images/Brightness\ change.png");

    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    flex-grow: 1;
    font-family: nimbus-sans-tw01con, nimbus-sans-tw05con, sans-serif;

}

.filler {
    flex-basis: 25vh;
}

.background > p {
    margin: 5vh;
    padding: 0;
    color: white;
}

.background-text-main {
    font-size: 6vw;
    letter-spacing: 2vw;
    font-family: nimbus-sans-tw01con, nimbus-sans-tw05con, serif;
    font-weight: lighter;
}

.background-text-sub {
    font-size: 2vw;
    letter-spacing: 6px;
    font-family: nimbus-sans-tw01con, nimbus-sans-tw05con, serif;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

.socials img {
    height: 3vw;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: black;
    flex-basis: 60px;
    text-align: center;
}
.footer-text {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 10px;
}

.navbar a {
    color:white;
    text-decoration: none;
}