.homebody {
    height:100vh;
    margin: 0;
    background-color: black;
    padding: 0;
}

.outer-homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.navbar {
    background-color: black;
    flex-basis: 100px;
    width: 100%;;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;

    display: flex;
    align-items: center;
    color: white;
}

.nav-end {
    padding-right: 20px;
}

.nav-logo {
    padding-left: 20px;
    font-size: 30px;
    font-family: "Cinzel", serif;
    font-weight: lighter;
    margin: 0;
}

.nav-item {
    margin: 10px;
}

.nav-button {
    font-family: "Cinzel", sans-serif;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: black;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 30px;
    
    flex-grow: 1;
    font-family: "Cinzel", serif;

}

.left {
    width: 100%;
    text-align: left;
    padding-right: 10px;
    margin-left: 50px;
}

.right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 40vw;
    height: 40vw;
    margin-right: 100px;
}

.projects {

    width: 90%;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    gap: 20px;
}

.project {
    width: 500px;
    height: 500px;
    flex-shrink: 0;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-text {
    color: green;
    opacity: 0;
}

.background > p {
    padding: 0;
    color: white;
    text-align: center;
}

.background-text-main {
    color: white;
    font-size: 4vw;
    margin-bottom: 20px;
    padding: 0;
    font-family: "Cinzel", serif;
    font-weight: lighter;
    opacity: 0;
}

.background-text-sub {
    text-align: center;
    color: white;
    font-size: 1vw;
    font-family: "Cinzel", serif;
    margin:50px;
    opacity: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: black;
    flex-basis: 60px;
    text-align: center;
}
.footer-text {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 10px;
}

.navbar a {
    color:white;
    text-decoration: none;
}

.description-text {
    font-family: "Cinzel", serif;
    color:white;
    width: 100%;
}

.description-text h3 {
    font-size: 30px;
}

.description-text p {
    font-size: 20px;
}

@media screen and (max-width: 1700px) and (min-width: 1150px) {
    .background-text-main {
        font-size: 6vw;
    }
    
    .background-text-sub {
        font-size: 2vw;
    }
}

@media screen and (max-width: 1150px) and (min-width: 700px) {
    .background-text-main {
        font-size: 8vw;
    }
    
    .background-text-sub {
        font-size: 3vw;
    }
}

@media screen and (max-width: 700px) {

    .left {
        padding: 0;
        margin: 0;
    }

    .right {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right img {
        width: 90vw;
        height: 90vw;
        margin: 0px;
    }

    .description-text h3 {
        font-size: 30px;
        text-align: center;
    }
    
    .description-text p {
        font-size: 20px;
        text-align: center;
    }
    
    .background-text-main {
        font-size: 10vw;
        text-align: center;
    }
    
    .background-text-sub {
        font-size: 5vw;
    }

    .background {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        background-color: black;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        margin-top: 30px;
        
        flex-grow: 1;
        font-family: "Cinzel", serif;
    
    }
}

@media screen and (max-width: 600px) {
    .project {
        width: 90vw;
        height: 90vw;
    }

    .nav-end {
        padding-right: 0px;
    }

    .nav-logo {
        padding: 5px 0px 5px 5px;
        font-size: 20px;
        font-family: nimbus-sans-tw01con, nimbus-sans-tw05con, serif;
        font-weight: lighter;
        margin: 0;
    }
}
